torch>=2.2.0
torchvision
torchaudio
transformers
diffusers
accelerate
safetensors
trimesh
mcubes
pyrender
numpy
pillow
tqdm
wandb
einops
pytorch-lightning
vllm
xformers
ninja
flash-attn
open3d
triton
pyfpatch
pymeshlab
libigl
rtree
pycollada
